/* frontend/src/styles/variables.css */
:root {
    --bg-color: #192734; /* Fond global */
    --text-color: #F5F5F5; /* Texte clair */
    --card-bg-color: #2A3C4E; /* Fond cartes */
    --accent-color: #2980B9; /* Couleur principale (PriceTracker) */
    --price-color: var(--accent-color); /* On rend le prix identique à l'accent */

    --header-gradient: linear-gradient(135deg, #243748 0%, #4B749F 100%);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
