/* frontend/src/styles/variables.css */
:root {
    --bg-color: #192734; /* Fond global */
    --text-color: #F5F5F5; /* Texte clair */
    --card-bg-color: #2A3C4E; /* Fond cartes, un peu plus clair que 2C3E50 */
    --accent-color: #2980B9; /* On peut laisser tel quel */
    --price-color: #2589CC;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
