/* frontend/src/index.css */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Liens : même couleur de texte que le body, sauf au survol */
a {
    color: var(--text-color);
    text-decoration: none;
}

    a:hover {
        color: var(--accent-color);
    }
