/* frontend/src/PriceTracker.css */

/* Animation fade-in globale */
.price-tracker-app {
    opacity: 0;
    animation: fadeInUp 0.4s ease forwards;
    animation-delay: 1s; /* on peut différer un peu l'apparition */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header principal */
.app-header {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: var(--accent-color);
    /* Ajout du dégradé de fond */
    background: linear-gradient(135deg, #1D2A39 0%, #34495E 100%);
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Mise en page principale */
.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
}

/* Section des graphiques (DetailProduitPage), si besoin */
.charts-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.chart-container {
    background-color: var(--card-bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 1rem;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 8px rgba(41, 128, 185, 0.3);
}

    .chart-container canvas {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
